body{
    background-color: #272727;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    font-family: 'Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo UI',sans-serif;
}

h1{
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: solid 5px #7db4e6;
}

input{
    background-color: lightblue;
    color: black;
    border-radius: 5px;
    border: thin solid white;
    font-size: 16px;
}

/*アットマークを強調*/
#at{
    background-color: black;
    font-size: x-large;
    font-style: oblique;
    border-radius: 10px;
}

#submitButton{
    background-color: aqua;
    font-size: large;
    font-weight: lighter;
    border-radius: 7px;
    border-color: black;
}